<%  include partials/header.ejs %>

<br>
<br>
<h2 class='mont'>Account history</h2>
<br><br>
<ul>
<% weathers.forEach(function(item) { %>
  
    <li>
    <%= item.createdAt %><br>
    <%= item.location %><br>
    <img src="<%= item.icon %>" > <%= item.description + ", " %>  <%= item.temperature + "\xB0"%></li><br>
    <ul>
      <% item.tracks.forEach(function(item) { %>
        <li><img src="<%= item.icon %>"Track: <%= item.trackName %></li>
        <li>Artist: <%= item.artist %></li>
        <li>Album: <%= item.album %></li>
        <li>Artist: <%= item.artist %></li>
      <% }) %>
    </ul>
    <br><br>
    
<% }); %>
</ul>

<%  include partials/footer.ejs %>