<%  include partials/header.ejs %>

<br>
<br>
<h2 class='mont'>Account history</h2>
<br><br>
<ul>
<% weather.forEach(function(item) { %>
  
    <li>
    <%= item.createdAt %><br>
    <%= item.location %><br>
    <img src="<%= item.icon %>" > <%= item.description + ", " %>  <%= item.temperature + "\xB0"%></li><br>
    <a href="#">Playlist</a>
    <br><br>
    
<% }); %>
</ul>

<%  include partials/footer.ejs %>